In [1]:
import pandas as pd
import numpy as np

In [24]:
# https://sidra.ibge.gov.br/tabela/5438
rendimento_mensal = pd.read_csv(
    "../static/rendimento-medio-mensal-real-trabalhadores.csv"
)
rendimento_mensal.columns

Index(['Trimestre', 'Unidade da Federação', 'Nível de instrução', 'Variável',
       'Valor'],
      dtype='object')

In [15]:
def convert_string_to_quarter(quarter):
    quarter = quarter.replace("trimestre", "Q").replace("º", "")
    quarter, q, year = quarter.split(" ")
    return f"{year}{q}{quarter}"

In [ ]:
rendimento_mensal["Trimestre"] = rendimento_mensal["Trimestre"].apply(lambda quarter: convert_string_to_quarter(quarter))
rendimento_mensal = rendimento_mensal[rendimento_mensal["Nível de instrução"] != "Total"]
rendimento_mensal

,Trimestre,Unidade da Federação,Nível de instrução,Variável,Valor
1,2012Q1,Rondônia,Sem instrução e menos de 1 ano de estudo,Rendimento médio mensal real das pessoas de 14...,1609
2,2012Q1,Rondônia,Ensino fundamental incompleto ou equivalente,Rendimento médio mensal real das pessoas de 14...,1813
3,2012Q1,Rondônia,Ensino fundamental completo ou equivalente,Rendimento médio mensal real das pessoas de 14...,1986
4,2012Q1,Rondônia,Ensino médio incompleto ou equivalente,Rendimento médio mensal real das pessoas de 14...,1923
5,2012Q1,Rondônia,Ensino médio completo ou equivalente,Rendimento médio mensal real das pessoas de 14...,2409
...,...,...,...,...,...
10687,2024Q4,Distrito Federal,Ensino médio incompleto ou equivalente,Rendimento médio mensal real das pessoas de 14...,2311
10688,2024Q4,Distrito Federal,Ensino médio completo ou equivalente,Rendimento médio mensal real das pessoas de 14...,2765
10689,2024Q4,Distrito Federal,Ensino superior incompleto ou equivalente,Rendimento médio mensal real das pessoas de 14...,3029
10690,2024Q4,Distrito Federal,Ensino superior completo ou equivalente,Rendimento médio mensal real das pessoas de 14...,8819
10691,2024Q4,Distrito Federal,Não determinado,Rendimento médio mensal real das pessoas de 14...,-

In [43]:
# rendimento_mensal.groupby("Nível de instrução").count()
x = rendimento_mensal["Nível de instrução"].value_counts()
y = rendimento_mensal.groupby(["Nível de instrução", "Valor"]).size()

y

Nível de instrução                          Valor
Ensino fundamental completo ou equivalente  1160     1
                                            1176     1
                                            1177     1
                                            1178     1
                                            1180     1
                                                    ..
Sem instrução e menos de 1 ano de estudo    994      2
                                            995      5
                                            996      2
                                            997      2
                                            998      1
Length: 5837, dtype: int64

In [ ]:
rendimento_mensal["Valor"] = rendimento_mensal["Valor"].replace("-", "0")
rendimento_mensal["Valor"] = pd.to_numeric(rendimento_mensal["Valor"]).fillna(0).astype(int)

1        1609
2        1813
3        1986
4        1923
5        2409
         ...
10687    2311
10688    2765
10689    3029
10690    8819
10691       0
Name: Valor, Length: 9504, dtype: int64

In [81]:
# rendimento_mensal["Nível de instrução"].value_counts()
x = rendimento_mensal.groupby(["Valor", "Nível de instrução"]).all()
x

                                                    Trimestre  \
Valor Nível de instrução
0     Não determinado                                    True
1000  Ensino fundamental incompleto ou equivalente       True
      Sem instrução e menos de 1 ano de estudo           True
1001  Sem instrução e menos de 1 ano de estudo           True
1002  Sem instrução e menos de 1 ano de estudo           True
...                                                       ...
996   Sem instrução e menos de 1 ano de estudo           True
997   Ensino fundamental incompleto ou equivalente       True
      Sem instrução e menos de 1 ano de estudo           True
9972  Ensino superior completo ou equivalente            True
998   Sem instrução e menos de 1 ano de estudo           True

                                                    Unidade da Federação  \
Valor Nível de instrução
0     Não determinado                                               True
1000  Ensino fundamental incompleto ou equivalente                  True
      Sem instrução e menos de 1 ano de estudo                      True
1001  Sem instrução e menos de 1 ano de estudo                      True
1002  Sem instrução e menos de 1 ano de estudo                      True
...                                                                  ...
996   Sem instrução e menos de 1 ano de estudo                      True
997   Ensino fundamental incompleto ou equivalente                  True
      Sem instrução e menos de 1 ano de estudo                      True
9972  Ensino superior completo ou equivalente                       True
998   Sem instrução e menos de 1 ano de estudo                      True

                                                    Variável
Valor Nível de instrução
0     Não determinado                                   True
1000  Ensino fundamental incompleto ou equivalente      True
      Sem instrução e menos de 1 ano de estudo          True
1001  Sem instrução e menos de 1 ano de estudo          True
1002  Sem instrução e menos de 1 ano de estudo          True
...                                                      ...
996   Sem instrução e menos de 1 ano de estudo          True
997   Ensino fundamental incompleto ou equivalente      True
      Sem instrução e menos de 1 ano de estudo          True
9972  Ensino superior completo ou equivalente           True
998   Sem instrução e menos de 1 ano de estudo          True

[5837 rows x 3 columns]

In [80]:
rendimento_mensal[rendimento_mensal["Nível de instrução"] == "Não determinado"]

,Trimestre,Unidade da Federação,Nível de instrução,Variável,Valor
8,2012Q1,Rondônia,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
17,2012Q1,Acre,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
26,2012Q1,Amazonas,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
35,2012Q1,Roraima,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
44,2012Q1,Pará,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
...,...,...,...,...,...
10655,2024Q4,Rio Grande do Sul,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
10664,2024Q4,Mato Grosso do Sul,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
10673,2024Q4,Mato Grosso,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
10682,2024Q4,Goiás,Não determinado,Rendimento médio mensal real das pessoas de 14...,0
10691,2024Q4,Distrito Federal,Não determinado,Rendimento médio mensal real das pessoas de 14...,0